In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

In [2]:
#Membentuk Data dari Dictionary

pd.DataFrame({'col 1' : [1,2,3,4],
              'col 2': [5,6,7,8]})

   col 1  col 2
0      1      5
1      2      6
2      3      7
3      4      8

In [3]:
#Membentuk Data Frame dari Numpy Array

n_rows = 5
n_cols = 3

arr = np.random.randint(1,20, size=(n_rows,n_cols))
arr

array([[ 1, 18,  8],
       [19, 16, 10],
       [10,  1, 19],
       [13,  5,  7],
       [19,  8, 12]])

In [4]:
pd.DataFrame(arr, columns = tuple('ABC'))

    A   B   C
0   1  18   8
1  19  16  10
2  10   1  19
3  13   5   7
4  19   8  12

In [5]:
#Membentuk Data Frame dengan Memanfaatkan pandas.util.testing

pd.util.testing.makeDataFrame().head() #Membuat dummy Data Frame sederhana

C:\Users\AC\anaconda3\lib\site-packages\pandas\util\__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                   A         B         C         D
ACbTQfYCgq -0.867011  0.501563  1.391852 -0.323669
wlG0G4nyXz -0.130212  0.620771  0.149902 -0.759806
ii8oEn6g9A -1.676372  0.262677  1.063718  0.024474
Mbd1Tq9soA -0.126266 -0.457413 -0.121782  0.433470
jIAWpGXmQC -0.108179 -0.041243 -1.125165 -0.535236

In [6]:
pd.util.testing.makeMixedDataFrame().head() #Rumus untuk membuat dummy Data Frame yang tipe datanya campur

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [7]:
pd.util.testing.makeTimeDataFrame().head() #Rumus untuk membuat dummy Data Frame yang berisi data deret waktu

                   A         B         C         D
2000-01-03  0.388271  0.703034  0.014434  1.379603
2000-01-04 -0.040220  1.702912  0.215981  1.191165
2000-01-05 -2.222915  0.713560 -0.214062  0.618845
2000-01-06 -0.305688 -0.412257  0.838302 -0.680190
2000-01-07 -0.801654 -0.001090  0.510601 -0.865153

In [8]:
pd.util.testing.makeMissingDataframe().head() #Rumus untuk membuat dummy Data Frame yang dengan beberapa missing value yang ditempatkan secara acak

                   A         B         C         D
CkN4RgJa0B  0.526899  0.995629 -0.591490  0.818042
TGy3oOHSx8 -0.677481 -1.576332       NaN  0.135693
oVcgJXYACt -0.301598 -0.712374 -0.293421  0.234303
OP9SgbFxFW -0.718401 -0.931767 -0.563835 -1.051378
b9Nra8LF5t -0.093262  0.742539  0.761348  0.926412